<html>

    <head>
        <title>this is the title</title>
        <link href="@styles/index.css" rel="stylesheet" />
        <script src="@scripts/main.js" defer="defer" type="module"></script>
    </head>

    <body>

        <!-- NAV -->
        <%~ include("./src/html/navigation.html") %>

        <h1>here is the title</h1>
        <img src="@images/pic.png" />

        <!-- MODAL -->
        <%~ include("./src/html/modal.html") %>

    </body>

</html>